.h1{
    font-size: 55px;
    font-weight:bolder;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width:17px;
    height:17px;
}

.span{
    color: blue;
    font-size: 24px;
}

.todo-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    /* border: 1px solid black; */
}

.span1{
    font-size: 22px;
}